<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>teamID</key>
    <string>TK7KK2VPJP</string>
    <key>destination</key>
    <string>export</string>
    <key>method</key>
    <string>app-store</string>
    <key>uploadSymbols</key>
    <false/>
    <key>signingStyle</key> 
    <string>manual</string> 
    <key>signingCertificate</key> 
    <string>Apple Distribution: Kukai AB (TK7KK2VPJP)</string> 
    <key>provisioningProfiles</key>
    <dict>
        <key>app.kukai.mobile</key>
        <string>Kukai Mobile Prov Dist App Store</string>
    </dict>
</dict>
</plist>
